<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    {{if err}}
    <title>{{title}}</title>
    {{else}}
    <title>{{title}} - {{post.title}}</title>
    {{/if}}
    <link rel="stylesheet" href="/public/css/post.css">
</head>

<body>
    <article id="article">
        {{if err}}
        <header>
            <h1>{{message}}</h1>
        </header>
        <div class="button-group">
            <a href="/book.html" class="chapter-btn">3 秒后返回章节列表</a>
        </div>
        <script>
            setTimeout(function() {
                location = location.origin + '/book.html';
            }, 3000);
        </script>
        {{else}}
        <header>
            <h1>{{chapter.name}}</h1>
            <h2>{{post.title}}</h2>
        </header>
        <section>
            <p>{{author}}</p>
        </section>
        <div class="button-group-top">
            <a href="javascript:;" class="pre-chapter-btn">&ensp;上一章&ensp;</a>
            <a data-chaptermax="{{chapter.length}}" href="/book.html" class="chapter-btn">&ensp;章节列表&ensp;</a>
            <a href="javascript:;" class="next-chapter-btn">&ensp;下一章&ensp;</a>
            <!--<a href="javascript:;" class="bookmark">加入书签</a>-->
        </div>
        <div id="content" class="content">
            正文加载中……
        </div>
        <div class="button-group-bottom">
            <a href="javascript:;" class="pre-chapter-btn">&ensp;上一章&ensp;</a>
            <a data-chaptermax="{{chapter.length}}" href="/book.html" class="chapter-btn">&ensp;章节列表&ensp;</a>
            <a href="javascript:;" class="next-chapter-btn">&ensp;下一章&ensp;</a>
            <!--<a href="javascript:;" class="bookmark">加入书签</a>-->
        </div>
    </article>
    {{/if}}
    <script src="/public/javascript/zepto.min.js"></script>
    <script src="/public/javascript/post.js"></script>
</body>

</html>
