<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"> {{if err}}
    <title>{{title}}</title>
    {{else}}
    <title>{{title}} - {{post.title}}</title>
    {{/if}}
</head>

<body>

    <article>
        {{if err}}
        <header>
            <h1>{{title}}</h1>
        </header>
        <section>
            <p>{{author}}</p>
        </section>
        <div>{{message}}</div>
        <a href="/book.html" class="chapter-btn">返回章节列表</a> {{else}}
        <header>
            <h1>{{chapter.name}}</h1>
            <h2>{{post.title}}</h2>
        </header>
        <section>
            <p>{{author}}</p>
        </section>
        <div class="button-group">
            <a href="javascript:;" class="pre-chapter-btn"> ← 上一章</a>
            <a data-chaptermax="{{chapter.length}}" href="/book.html" class="chapter-btn">章节列表</a>
            <a href="javascript:;" class="next-chapter-btn">下一章 →</a>
            <a href="javascript:;" class="bookmark">加入书签</a>
        </div>
        <div id="content">
            正文加载中……
        </div>
    </article>
    <div class="button-group">
        <a href="javascript:;" class="pre-chapter-btn"> ← 上一章</a>
        <a data-chaptermax="{{chapter.length}}" href="/book.html" class="chapter-btn">章节列表</a>
        <a href="javascript:;" class="next-chapter-btn">下一章 →</a>
        <a href="javascript:;" class="bookmark">加入书签</a>
    </div>
    {{/if}}
    <script src="/public/javascript/zepto.min.js"></script>
    <script src="/public/javascript/post.js"></script>
</body>

</html>
